In [26]:
years_customers = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

today = 2025
new_list = []

# Age calculation
for year in years_customers:
    age = today - year
    print(age)

26
30
20
15
18
19
31
29
46
17

In [34]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort ()
newlist_ages = ages[1:-1]
print(newlist_ages)

[11, 12, 13, 14, 20, 23, 24, 25]

In [41]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

two_cities = berlin + munich
new_list = []

for ages in two_cities:
    if ages not in new_list:
        new_list.append(ages)

print(new_list)

[15, 13, 16, 18, 19, 10, 12, 7, 20]

In [42]:
ages = [15,13,16,18,19,15,10]

new_list = list(set(ages))

print(new_list)

[10, 13, 15, 16, 18, 19]

In [52]:
list_ages = [15,13,16,18,19,15,10]

def check_ages(num):
    for ages in list_ages:
        if ages == num:
            return "True"
    return "False"

print(check_ages(15))
print(check_ages(28))

True
False

In [61]:
list_ages = [2, 4, 0, 100, 4, 11, 2602, 36]

def check_odd():
    for age in list_ages:
        if age % 2 != 0:
            return age

print(check_odd())

11

In [63]:
list_ages = [160, 3, 1719, 19, 11, 13, -21]

def check_even():
    for age in list_ages:
        if age % 2 == 0:
            return age

print(check_even())

160