In [12]:
print('Hello World')

Hello World

In [13]:
integer = 2022
name = 'Bruno'
istring_number = '22'
print(name + str(integer))

Bruno2022

## Python in Action

Exercise 1

In your file create a variable called my_name with your name as the value. Put your name inside string quotes, e.g., "my name". Then add a line of code to print the variable name.

Save your file and run the cell. You should see your name printed. If not, investigate and fix it.

Exercise 2

Create a variable called age with a number that is your age. Do not use string quotes for numbers.

Add a line to print that variable. Save the file and run the cell. You should see your age.

In [14]:
name = 'Bruno'
age = '34'

print(name, age)
print('Hello' + name)

Bruno 34
HelloBruno

Exercise 3

Create a variable called julia_age with the value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julia's age. Print your age and the value of age_diff. If you are younger than Julia, age_diff should be a negative number.

In [15]:
my_age = 34
julia_age = 32
age_diff = my_age - julia_age
print(int(my_age) == int(julia_age))
print(myage>julia_age)
print(age_diff)
print("My age:", my_age)
print("Age difference (me - Julia):", age_diff)

False

NameError: name 'myage' is not defined

## Writing Code with Conditionals

Conditionals are forms used in programming to tell the computer to do different things, depending on some test, e.g., "if the user is logged in, say "Hi", else say "Please log in."

The most basic conditional form is if...else...

Exercise 4

Write a conditional that compares the variable holding your age with the number 21. It should print either "You are older than 21" or "You are not older than 21", appropriately, depending on your age. Save your file and run the cell. Make sure you see the correct message. Try changing your age in the file to make sure the other message prints when it should.

Exercise 5

Write a conditional that compares your age with Julia's age. This conditional will need to test if you are older, younger, or the same age, and print, appropriately, either "Julia is older than you", "Julia is younger than you", or "You are the same age as Julia".

Save your changes and run the cell.

In [ ]:
age = 21

if age >= 21:
    print('You are older than 21')
elif age == 18:
    print('You are not older than 21')
else:
    print('You are still young')

In [ ]:
julia_age = 32
my_age = 34

if myage > julia_age:
    print('Julia is younger than you')
elif myage < julia_age:
    print('Julia is older than you')
elif myage == julia_age:
    print('You are the same age as Julia')

## Lists and Loops

Exercise 6

Create a list with all the names of your class (including mentors). Sort the list alphabetically, then print the first element of the list.
On the next line, print the last element of the list.
On the next line, print all the elements of the list (use a "for" loop).

Exercise 7

Create a list with all the ages of the students in your class. Iterate through the list using a for loop, and then print every age. Add a conditional inside the loop to only print even ages (Hint: have a look for Python's modulus operator).
Try to do the same thing using a while loop.

Exercise 8

Write a list containing numbers and print the lowest number.

Exercise 9

Write a list containing numbers and print the highest number.

Exercise 10

Given below is a list of 10 customers with year of birth, however, the list can be as large as several thousands of customers.

In [17]:
# Create a list with all the names of your class (including mentors).

my_class_names = ["bruno", "marco", "janina", "rahul", "bo"]

print(my_class_names)

['bruno', 'marco', 'janina', 'rahul', 'bo']

In [18]:
# On the next line, print all the elements of the list (use a "for" loop).

for names in my_class_names:
    print(names)

bruno
marco
janina
rahul
bo

In [ ]:
# List with all the ages of the students in your class

my_class_ages = [23,55,27,8,19,32]

for ages in my_class_ages:
    print(ages)

23
55
27
8
19
32

In [19]:
# Write a list containing numbers and print the lowest number.

my_class_ages = [23,55,27,8,19,32]

smallest = min(my_class_ages)
print(smallest)

8

In [ ]:
# Write a list containing numbers and print the highest number.

highest = max(my_class_ages)
print(highest)

In [20]:
# Exercise 10 - Given below is a list of 10 customers with year of birth, however, the list can be as large as several thousands of customers.

my_list_birthdays = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
today = 2025

ages = []

for birth_year in my_list_birthdays:
    actual_age = today - birth_year
    #print("Students born in", birth_year, "are today", actual_age, "years old.")
    print(birth_year, ":", actual_age)

1999 : 26
1995 : 30
2005 : 20
2010 : 15
2007 : 18
2006 : 19
1994 : 31
1996 : 29
1979 : 46
2008 : 17

In [21]:
# Exercise 11 Given below is a list of 10 customers with name and year of birth, however, the list can be as large as several thousands of customers.

customer_list = [
    {"name": "Bob", "age": 1999},
    {"name": "Jack", "age": 1995},
    {"name": "Lisa", "age": 2005},
    {"name": "Maria", "age": 2010},
    {"name": "Ben", "age": 2007},
    {"name": "Emma", "age": 2006},
    {"name": "Oscar", "age": 1994},
    {"name": "Amy", "age": 1996},
    {"name": "Paul", "age": 1979},
    {"name": "Etta", "age": 2008}
]

today = 2025

for customer in customer_list:
    name = customer["name"]
    birth_year = customer["age"]
    actual_age = today - birth_year
    print(name, ":", birth_year)
    print(name, "is today", actual_age, "years old.")

Bob : 1999
Bob is today 26 years old.
Jack : 1995
Jack is today 30 years old.
Lisa : 2005
Lisa is today 20 years old.
Maria : 2010
Maria is today 15 years old.
Ben : 2007
Ben is today 18 years old.
Emma : 2006
Emma is today 19 years old.
Oscar : 1994
Oscar is today 31 years old.
Amy : 1996
Amy is today 29 years old.
Paul : 1979
Paul is today 46 years old.
Etta : 2008
Etta is today 17 years old.

In [ ]:
customer_list = [
    {"name": "Bob", "age": 1999, "country": "Argentina"},
    {"name": "Jack", "age": 1995, "country": "Brasil"},
    {"name": "Lisa", "age": 2005, "country": "Germany"},
    {"name": "Maria", "age": 2010, "country": "Austria"},
    {"name": "Ben", "age": 2007, "country": "Spain"},
    {"name": "Emma", "age": 2006, "country": "Portugal"},
    {"name": "Oscar", "age": 1994, "country": "Colombia"},
    {"name": "Amy", "age": 1996, "country": "Chile"},
    {"name": "Paul", "age": 1979, "country": "Costa Rica"},
    {"name": "Etta", "age": 2008, "country": "Belgium"}
]
today = 2025

for customer in customer_list:
    name = customer["name"]
    birth_year = customer["age"]
    country = customer["country"]
    actual_age = today - birth_year
    print(name, "born in", birth_year, "and from", country, "is today", actual_age, "year old.")

In [22]:
# Exercise 12 Given a list of ages, remove the youngest and the oldest person.

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

for i in ages:
    ages.remove(min(ages))
    ages.remove(max(ages)) 

    print(i)

    # i dont know how else i can do it.

20
24
14
23

In [23]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()
new_list = ages[1:-1]
print(new_list)

[11, 12, 13, 14, 20, 23, 24, 25]

In [27]:
# Exercise 13 - You have two lists with ages of customers from different cities. The task is to create a new list with the common ages.

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

two_cities = berlin + munich
new_list = []

for age in two_cities:
    if age not in new_list:
        new_list.append(age)

print(new_list)

[15, 13, 16, 18, 19, 10, 12, 7, 20]

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

two_cities = berlin + munich
new_list = list(set(two_cities))

print(new_list)

[7, 10, 12, 13, 15, 16, 18, 19, 20]

In [ ]:
# Exercise 14 - You have a list with ages.

ages = [15, 13, 16, 18, 19, 15, 10]

new_list = []

for age in ages:
    if age not in new_list:
        new_list.append(age)

print(new_list)

[15, 13, 16, 18, 19, 10]

In [ ]:
ages = [15, 13, 16, 18, 19, 15, 10]

new_list = list(set(ages))

print(new_list)

## Functions

In [25]:
# Exercise 15 - Write a function that takes a person's name and prints a custom message for them. E.g. Function name: welcome

# welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'

# welcome('Jost'), would print - 'Welcome Jost, have a nice day!'

def welcome_example(name):
    return f"Welcome {name}, have a nice day!" 

print(welcome_example("Bruno"))
print(welcome_example("Bo"))

Welcome Bruno, have a nice day!
Welcome Bo, have a nice day!

In [28]:
# Exercise 16 - Write a function that takes a string as input and calculates the length.

# Function name: get_length

# get_length('Hello') would print / return 5.

# get_length('Hi') would print / return 2.

def get_lenght(num):
    return len(num)

print(get_lenght('Hello'))
print(get_lenght('Hi'))

5
2

In [29]:
# Exercise 17 - Write a function which checks whether a number is even.

# Function name: check_even

# check_even(6) would print / return 'Yes'

# check_even(5) would print / return 'No'

def check_even(num):
    if num % 2 == 0:
        return "Yes"
    return "No"

check_even(3)

'No'

In [30]:
# Exercise 18 - Rewrite exercises 11, 12, 13, and 14 in a function.

customer_list = [
    {"name": "Bob", "age": 1999},
    {"name": "Jack", "age": 1995},
    {"name": "Lisa", "age": 2005},
    {"name": "Maria", "age": 2010},
    {"name": "Ben", "age": 2007},
    {"name": "Emma", "age": 2006},
    {"name": "Oscar", "age": 1994},
    {"name": "Amy", "age": 1996},
    {"name": "Paul", "age": 1979},
    {"name": "Etta", "age": 2008}
]

def calculate_age(customer):
    today = 2025
    return f"{customer['name']} is today {today - customer['age']} years old!" 

for customer in customer_list:
    print(calculate_age(customer))

Bob is today 26 years old!
Jack is today 30 years old!
Lisa is today 20 years old!
Maria is today 15 years old!
Ben is today 18 years old!
Emma is today 19 years old!
Oscar is today 31 years old!
Amy is today 29 years old!
Paul is today 46 years old!
Etta is today 17 years old!

In [31]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

def remove_duplicates(num):
   return list(set(num))

print(remove_duplicates(ages))

[40, 9, 11, 12, 13, 14, 20, 23, 24, 25]

In [ ]:
# Exercise 19 - Write a function that takes a list of integers and also a single integer as inputs. 
# It should return true or false if the single integer value is present or not in the list.

customer_list = [
    {"name": "Bob", "age": 1999},
    {"name": "Jack", "age": 1995},
    {"name": "Lisa", "age": 2005},
    {"name": "Maria", "age": 2010},
    {"name": "Ben", "age": 2007}
]

# Age calculation
def calculate_age(person):
    today = 2025
    if today - person["age"] > 20:
        return "True"
    return "False"

# Print the restult

for person in customer_list:
    print(f"My name is {person["name"]}. I was born in {person["age"]} years old and today is 2025. Am i over 20? {calculate_age(person)}")

My name is Bob. I was born in 1999 years old and today is 2025. Am i over 20? True
My name is Jack. I was born in 1995 years old and today is 2025. Am i over 20? True
My name is Lisa. I was born in 2005 years old and today is 2025. Am i over 20? False
My name is Maria. I was born in 2010 years old and today is 2025. Am i over 20? False
My name is Ben. I was born in 2007 years old and today is 2025. Am i over 20? False